nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: black;
        border: none;
        color: white;
        border-radius: 15px;
        cursor: pointer;
        padding: 1rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(252, 215, 249);
            color: rgb(0, 0, 0);
            transform: scale(0.8);
        }
    }
    h2{
        font-weight: bold;
        font-size: 2rem;
    }
}


@media screen and (max-width: 768px) {
    nav {
        button{
            z-index: 10;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
    
}